.center{
	padding-left: 6em;


}

.right{
	padding-right: 2.5em;

}

.html{
	margin:2em;
	padding: 2em;
	display:-webkit-box;


}

#left{
	position: relative;
	top: -2.35em;
}

{
	background-color: pink;
}

a{
	/*background-color: pink;
	text-decoration: none;
	color: white;*/
}

ul{
	display: -webkit-box;
	list-style-type: none;
}

#buy{
	display:inline-block;
    height: 2em;
    width: 10em;
    border:2px solid;
 	text-align: center;
 	padding-top:1em;
 	border-radius: 10%;
 	font-size: 1.2em;
 	background-color: pink;
	text-decoration: none;
	color: white

 }

.learn
{
	display:inline-block;
    height: 2em;
    width: 8em;
    border:2px solid;
 	text-align: center;
 	padding-top: .85em;
 	border-radius: 10%;
 	font-size: 1em;
 	background-color: pink;
	text-decoration: none;
	color: white
 }

 #ok{
	display:inline-block;
    height: 1.5em;
    width: 3em;
    border:2px solid;
 	text-align: center;
 	padding-top: .5em;
 	border-radius: 10%;
 	background-color: pink;
	text-decoration: none;
	color: white
 	

 }



.accept  {
	background-color: pink;
	display:inline-block;
    height: 2em;
    width: 8em;
    border:none;
 	text-align: center;
 	vertical-align: middle;
 	padding-top: .5em;
 	border-radius: 10%;
 	font-size: 1em;
 	color: white;

 }

 .learn-more{


	background-color: pink;
	display:inline-block;
    height: 1.5em;
    width: 8em;
    border:none;
 	text-align: center;
 	vertical-align: middle;
 	padding-top: .5em;
 	border-radius: 10%;
 	font-size: 1em;
 	color: white;
	text-decoration: none; 	
 }

 .navi{
	
	background-color: pink;
	border-radius: 10%;
	text-decoration: none;
	color: white;
	list-style-type: none;
	display: -webkit-box;
	padding: .4em;
	list-style-type: none;
	overflow:hidden;

	
 }

.navi a{
	padding-right: 4em;
	padding-left: 1em;
	font-size: 1.1em;
	text-align: center;
	border-radius: 10%;
	text-decoration: none;
	color: white

}

.navi a:hover{
	color:lightblue;
}



.pagination {
	list-style-type: none;
	display: -webkit-box;
	margin-left: 0;

	
}

.pagination li a{
	padding: 1em;
	list-style-type: none;
	color:pink;
	font-weight: bold;
}

.pagination li:first-child a, .pagination li:last-child a {
	text-decoration: none;

}

.tweets, .indent{
	display: -webkit-box;

}

time{
	font-size: .8em;
	color: grey
}

img{
	padding: 0 .2em .2em .2em;
}

.tabs a{
	text-decoration: none;
	color: blue;
	border-top:solid 1px grey;
	border-left:solid 1px grey;
	border-right:solid 1px grey;
	border-bottom: none;
	display: -webkit-box;
	padding: 6px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	padding-bottom: none;
}

.lemon{
	border: solid 1px grey;
	padding: 5px;
	-webkit-border-radius: 7px;

}

.tabs a:hover{
	background-color: grey;
	color:white;


}

.vert{
	display: table-caption;
	text-align: center;
}